<h1>Feed</h1>

<table>
  <tbody id="entries">
    <%= for entry <- @entries do %>
      <tr id="entry-<%= entry.uuid %>">
        <td><a href="<%= entry.url %>"><%= entry.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
